/* open-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v44-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v44-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v44-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background:  color-mix(in srgb, #31a5c2 40%, white);
  color: #333333;
}

main {
  padding-block: 20px;
  padding-inline: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-wrapper_div {
  container-type: inline-size;
  max-inline-size: 50rem;
  inline-size: 100%;
  padding-block-start: 30px;
  padding-block-end: 35px;
  padding-inline: 20px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: white;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);

  /* This query shifts the evolution line into a horizontal layout */
  --arrow-gap: 2rem;
  @container (width > 643px) {
    .evolution-line_div {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: var(--arrow-gap);
    }

    .evolution_div {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: var(--arrow-gap);
    }

    .evolve-level {
      flex-direction: column;
      align-items: center;
      text-align: center;

      &::before {
        content: "→";
        position: relative;
        font-size: var(--arrow-size);
      }
    }
  }
}

.entry-name_div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.entry-name_h1 {
  color: black;
  font-size: clamp(2.2rem, 0.867rem + 6.67vw, 3.2rem);

  sup {
    color: #333333;
    font-size: clamp(1.2rem ,0.533rem + 3.33vw ,1.6rem);
  }
}

.type_img {
  max-inline-size: clamp(2.5rem ,0.833rem + 8.33vw ,3rem);
}

.pokemon-img_div {
  inline-size: 100%;
  background-image: url(../Images/pokemon-go-wallpaper-pokeball.webp);
  background-repeat: no-repeat;
  background-position:  center; 
  background-size: 15rem;

  display: flex;
  justify-content: center;
  margin-block-end: 50px;
}

.pokemon_img {
  max-inline-size: 15rem;
  inline-size: 100%;

  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.evolution-wrapper_div {
  border-block-start: dashed #5e5d5d 2px;
  padding-block-start: 20px;
}

.evolution-wrapper_h2 {
  color: black;
  font-size: clamp(1.8rem ,0.533rem + 3.33vw ,2.2rem);
  margin-block-end: 20px;
}

.evolution-line_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.evolution_div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evolve-level {
  --arrow-size: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;

  &::before {
    content: "↓";
    position: relative;
    font-size: var(--arrow-size);
  }
}

.evolution-prev_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  font-size: 1.2rem;
}

.evolution-img_div {
  border: solid 3px #333333;
  border-radius: 50%;
  padding-block: 10px;
  padding-inline: 10px;
}

.evolution_img {
  inline-size: 7rem;
}

.right-wrapper_div {
  max-inline-size: 60rem;
  inline-size: 100%;
  padding-block: 30px;
  padding-inline: 20px;

  color: black;
  background: white;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-header_h1 {
  font-size: clamp(2.2rem, 0.867rem + 6.67vw, 3.2rem);
  margin-block-end: 20px;
}

.pokemon-data-wrapper_div {
  border-block: dashed #5e5d5d 2px;
  padding-block: 2rem;
}

.type-def-wrapper_div {
  display: flex;
  gap: 10rem;
}

.weaknesses-wrapper_div, .resistances-wrapper_div, .story-wrapper_div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.weaknesses_h2, .resistances_h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}

.story-header_h2, .data-header_h2, .stats-header_h2 {
  font-size: clamp(1.8rem ,0.533rem + 3.33vw ,2.2rem);
}

.data-header_h2, .stats-header_h2 {
  margin-bottom: 20px;
}

.weaknesses_div, .resistances_div {
  display: flex;
  gap: 1rem;
}

.weaknesses_img, .resistances_img {
  max-inline-size: clamp(2.5rem ,0.833rem + 8.33vw ,4rem);
}

.story-copy_p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}

.data-wrapper_div {
  display: flex;
  gap: 4rem;
}

.table-wrapper_div {
  max-inline-size: 300px;
  inline-size: 100%;
}

.pokemon-data_table {
  font-family: "Open Sans", sans-serif;
  inline-size: 100%;

  tbody {
    display: block;
    border-block-start: solid 1px black;
  }

  tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: left;
    gap: 1rem;

    padding-block: 10px;
    border-block-end: solid 1px black;
  }


  td {
    color: #333333;

    &:has(span) {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }
  }
}

.stats_table {
  font-family: "Open Sans", sans-serif;
  
  tbody {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  tr {
    display: grid;
    grid-template-columns: 60px 50px 1fr;
    align-items: center;
    gap: 1rem;
  }

  th {
    text-align: start;
  }

  .stat-value_td {
    font-weight: normal;
    color: #333333;
    text-align: end;
  }

  .stat-bar_td {
    --bar-height: 10px;
    --bar-radius: 20px;
    display: block;
    inline-size: 500px;
    block-size: var(--bar-height);
    border-radius: var(--bar-radius);
    background: #a5a5a5;

    .stat-bar_div {
      --stat-red: #F04444;
      --stat-orange: #F28C38;
      --stat-green: #4CAF50;
      --stat-blue: #3B9FE8;
      --bar-width: 50%;
      --bar-color: var(--stat-blue);
      inline-size: var(--bar-width);
      block-size: var(--bar-height);
      border-radius: var(--bar-radius);
      background: var(--bar-color);
    }
  }
}